{% extends 'modelo.html' %}

{% load static %}


{% block titulo %}
<title>{{title}}</title>
{% endblock %}

{% block css_especifico %}
<!-- Carrega APENAS o CSS do formulário -->
<link rel="stylesheet" href="{% static 'css/form_modelo.css' %}?v=1.0" />
{% endblock %} 

{% block conteudo %}
<main class="main-content">
    <header class="content-header">
        <button class="mobile-menu-btn">
            <i class="fas fa-bars"></i>
        </button>
        <h1>{{titulo}}</h1>
        <div class="header-actions">
            <div class="search-box">
                <input type="text" placeholder="Pesquisar...">
                <i class="fas fa-search"></i>
            </div>
            <button class="btn btn-notification">
                <i class="fas fa-bell"></i>
                <span class="badge">3</span>
            </button>
        </div>
    </header>
    {% endblock %}


    {% block cards %}

    {% endblock %}

    {% block graficos %}
    <div class="modelo-container">
        <div class="modelo-header">
            <div>
                <p class="modelo-subtitle">{{subtitulo}}</p>
            </div>
        </div>

        <form class="modelo-form" action="" method="POST">
            {% csrf_token %}

            {{ form.as_p}}
            <!-- Rodapé do Formulário -->
            <div class="modelo-actions">
                <a class="btn btn-secondary" href="">Cancelar</a>
                <button type="submit" class="btn btn-primary">Salvar</button>
            </div>


        </form>
    </div>
    {% endblock %}

    {% block ultimos_registros %}

    {% endblock %}