{% extends 'modelo.html' %}

{% block titulo %}
<title>Dashboard</title>
{% endblock %}

{% block cards %}
<section class="summary-cards">
    <div class="card card-receita">
        <div class="card-icon">
            <i class="fas fa-hand-holding-usd"></i>
        </div>
        <div class="card-info">
            <h3>Receitas</h3>
            <p>R$ 0</p>
            <small>+0% este mês</small>
        </div>
        <a href="" class="card-link">Ver tudo</a>
    </div>

    <div class="card card-medicamento">
        <div class="card-icon">
            <i class="fas fa-pills"></i>
        </div>
        <div class="card-info">
            <h3>Medicamentos</h3>
            <p>0 itens</p>
            <small>0 próximos de vencer</small>
        </div>
        <a href="medicamentos.html" class="card-link">Ver tudo</a>
    </div>

    <div class="card card-alerta">
        <div class="card-icon">
            <i class="fas fa-exclamation-triangle"></i>
        </div>
        <div class="card-info">
            <h3>Alertas</h3>
            <p>0 pendências</p>
            <small>0 urgentes</small>
        </div>
        <a href="alertas.html" class="card-link">Ver tudo</a>
    </div>
</section>
{% endblock %}